<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PFC___StandBy_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PFC___StandBy_CSharp.Properties.Settings.comboboxConnectstring"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=standby;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PFC___StandBy_CSharp.Properties.Settings>
            <setting name="notepad_CorFundo" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="notepad_FonteStyle" serializeAs="String">
                <value>Segoe UI Semibold, 12pt, style=Bold</value>
            </setting>
            <setting name="notepad_FonteColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="diretorio_default_notepad" serializeAs="String">
                <value>.\Anotacoes</value>
            </setting>
            <setting name="diretorio_default_word" serializeAs="String">
                <value>.\NotaWord\Cupom fiscal.docx</value>
            </setting>
        </PFC___StandBy_CSharp.Properties.Settings>
    </userSettings>
</configuration>